* { 
    margin: 0; 
    padding: 0; 
    font-family: "Courier New", monospace; 
}

body { 
    display: flex; 
    background-color: #1e1e1e; 
    justify-content: center; 
    align-items: center; 
    color: #dcdcdc; 
}

.navbar { 
    height: 90px; 
}

.navbar-nav .nav-link { 
    position: relative; 
    color: #bbb; 
    transition: color 0.3s
} 

.navbar-nav .nav-link:hover { 
    color: #0096FF; 
}

.navbar-nav .nav-link::after { 
    content: "";
    position: absolute; 
    left: 50%; 
    bottom: -4px; 
    width: 0; 
    height: 2px; 
    background: #0096FF; 
    transition: all 0.3s ease; 
    transform: translateX(-50%); 
}




